.glowContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
  pointer-events: none;
}

.blob1, .blob2, .blob3 {
  position: absolute;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  filter: blur(150px);
  opacity: 0.05;
  composes: float from '../../css/animations.css';
}

[data-theme='dark'] .blob1, 
[data-theme='dark'] .blob2, 
[data-theme='dark'] .blob3 {
  opacity: 0.1;
}

.blob1 {
  background: #00f2ff;
  top: -200px;
  left: -100px;
  animation-duration: 25s;
}

.blob2 {
  background: #7000ff;
  bottom: -200px;
  right: -50px;
  animation-duration: 30s;
  animation-delay: -5s;
}

.blob3 {
  background: #008d7a;
  top: 30%;
  left: 30%;
  width: 400px;
  height: 400px;
  animation-duration: 20s;
  animation-delay: -10s;
}
