.buttonGroup {
  display: flex;
  column-gap: 0.2rem;
}

.buttonGroup button {
  display: flex;
  align-items: center;
  background: transparent;
  color: var(--text-color-secondary);
  border: none;
  border-radius: var(--ifm-global-radius);
  padding: 0.2rem;
  line-height: 0;
  transition: all var(--ifm-transition-fast) ease-in-out;
  cursor: pointer;
}

.buttonGroup button:hover {
  color: var(--ifm-color-primary);
  transform: scale(1.1);
}
